

  #contentGTBody {
    width: 55%;
    margin: auto;
    overflow: hidden;
  }

  .imageGTText{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .imageGTText h3{font-size:2rem;margin:0px;margin-top:0.5rem;}
  .imageGTText p{font-size:1.2rem;margin:0px;margin-top:0.2rem;}

  .feature1{
    display: flex;
    flex-direction: column;
    text-align: center;
  }     
  .feature2{
    display: flex;
    flex-direction: column;
    text-align: center;
  }     
  .feature3{
    display: flex;
    flex-direction: column;
    text-align: center;
  }     
  .feature4{
    display: flex;
    flex-direction: column;
    text-align: center;
  }


  @media (max-width: 600px) {
    #contentGTbody section[style] img {
      height: 100% !important;
    }

    #contentGTBody {
    width: 90%;
    margin: auto;
    height: 620px; /* 2 cards stacked = 500px */
    overflow: hidden;
  }

.imageGTText{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .imageGTText h3{font-size:1rem;margin:0px;margin-top:0.5rem;}
  .imageGTText p{font-size:0.77rem;margin:0px;margin-top:0.2rem;}

    .feature1{
        height: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }     
  .feature2{
        height: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }     
  .feature3{
        height: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }     
  .feature4{
        height: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  }
