

  #contentGBody {
    width: 65%;
    margin: auto;
    overflow: hidden;
  }

  .imageGText{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3px;
        background:#000;
  }
#contentGBody{}

  .featureG1,
  .featureG2,
  .featureG3,
  .featureG4 {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  @media (max-width: 1024px) {
    section[style] {
      grid-template-columns: repeat(2, 1fr) !important;
      gap: 12px !important;
    }
  }

  @media (max-width: 600px) {
    #contentGBody {
      width: 95%;
      margin: auto;
      overflow: hidden;
    }

    .featureG1,
    .featureG2,
    .featureG3,
    .featureG4 {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }

