

  #contentBBody {
    width: 95%;
    margin: auto;
    overflow: hidden;
  }

  .gallText{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3px;
        background:#000;
  }
#contentBBody{
height:1570px;}
  .gall1,
  .gall2,
  .gall3,
  .gall4 {
    height: 775px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  @media (max-width: 1024px) {
    section[style] {
      grid-template-columns: repeat(2, 1fr) !important;
      gap: 12px !important;
    }
  }

  @media (max-width: 600px) {
    #contentBBody {
      width: 95%;
      margin: auto;
      height: 620px;
      overflow: hidden;
    }

    .gall1,
  .gall2,
  .gall3,
  .gall4 {
      height: 310px;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }

